<!DOCTYPE html>

<html>
    <head>
        <title> Portkey </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
        <script src="scripts/main.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body class="page">
        <h1 class="page-header"> Portkey </h1> 
        <div class="container">
            <h2> Places </h2>
            <form action="/places" method="post" enctype="multipart/form-data">
                <div class = "place" class="form-group">
                    <label for="placeInput"> Place </label>
                    <input name="place" id="placeInput" placeholder="Place"></input>
                </div>

                </br>
                
                <div class= "note" class="form-group">
                    <label for="noteInput"> Note </label>
                    <textarea name="note" id="noteInput" placeholder="Note"></textarea>
                </div>
                {% if invalid %}
                    <div class="note-error">
                        <p> Sorry, your note is invalid! Please try again </p>
                    </div>
                {% endif %}
                </br>
                <div class = "upload-image">
                    <input type = "file" name="photo" id = "photo">
                </div>
                </br>
                <div class = "post-note">
                    <input type = "submit" value= "Post" class = "btn btn-default">
                    
                </div>
            </form>

            {% if diaries %}
                <div class= "container" id="notes" class="page-header">    
                    <div class="row">
                        {% for diary in diaries %}
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="/images?photo_key={{diary.photo_key}}" alt="Photo of {{diary.place}}" height= "280px" class="img-rounded"> </img>
                                    <div class="caption">
                                        <h3> {{diary.place}} </h3>
                                        <p> {{diary.note}} </p>
                                    </div> 
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

        
    </body>
</html>